# Configuration file

general {
    # Item and Armor IDs that shine light when found on any EntityLiving. Syntax: ItemID:LightValue, seperated by commas
    S:LightItems=torch:14,glowstone:15,glowstone_dust:10,lit_pumpkin:15,lava_bucket:15,redstone_torch:7,redstone:8,blockCarpentersTorch:14,decoration.stonetorch:14,item.torchberries:10,pamcandleDeco1:14,pamcandleDeco2:14,pamcandleDeco3:14,pamcandleDeco4:14,pamcandleDeco5:14,pamcandleDeco6:14,pamcandleDeco7:14,pamcandleDeco8:14,pamcandleDeco9:14,pamcandleDeco10:14,pamcandleDeco11:14,pamcandleDeco12:14,pamcandleDeco13:14,pamcandleDeco14:14,pamcandleDeco15:14,pamcandleDeco16:14

    # Update Interval time for all EntityLiving in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


