# Configuration file

##########################################################################################################
# item_apple;0
#--------------------------------------------------------------------------------------------------------#
# Apple
##########################################################################################################

"item_apple;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=15
}


##########################################################################################################
# item_bootsiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Boots
##########################################################################################################

"item_bootsiron;0" {
    B:enabled=false
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_bread;0
#--------------------------------------------------------------------------------------------------------#
# Bread
##########################################################################################################

"item_bread;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=15
}


##########################################################################################################
# item_chestplateiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Chestplate
##########################################################################################################

"item_chestplateiron;0" {
    B:enabled=false
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_diamond;0
#--------------------------------------------------------------------------------------------------------#
# Diamond
##########################################################################################################

"item_diamond;0" {
    B:enabled=false
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=3
}


##########################################################################################################
# item_flippers;0
#--------------------------------------------------------------------------------------------------------#
# Flippers
##########################################################################################################

"item_flippers;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_helmetiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Helmet
##########################################################################################################

"item_helmetiron;0" {
    B:enabled=false
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_horsearmordiamond;0
#--------------------------------------------------------------------------------------------------------#
# Diamond Horse Armor
##########################################################################################################

"item_horsearmordiamond;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=1
}


##########################################################################################################
# item_horsearmorgold;0
#--------------------------------------------------------------------------------------------------------#
# Gold Horse Armor
##########################################################################################################

"item_horsearmorgold;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=1
}


##########################################################################################################
# item_horsearmormetal;0
#--------------------------------------------------------------------------------------------------------#
# Iron Horse Armor
##########################################################################################################

"item_horsearmormetal;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=1
}


##########################################################################################################
# item_iguana_tcon_wearable_bucketholey;0
#--------------------------------------------------------------------------------------------------------#
# Holey Bucket
##########################################################################################################

"item_iguana_tcon_wearable_bucketholey;0" {
    B:enabled=false
    I:max_spawn_count=1
    I:min_spawn_count=0
    I:spawn_weight=1
}


##########################################################################################################
# item_ingotgold;0
#--------------------------------------------------------------------------------------------------------#
# Gold Ingot
##########################################################################################################

"item_ingotgold;0" {
    B:enabled=false
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_ingotiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Ingot
##########################################################################################################

"item_ingotiron;0" {
    B:enabled=false
    I:max_spawn_count=5
    I:min_spawn_count=1
    I:spawn_weight=10
}


##########################################################################################################
# item_knowledgenote;0
#--------------------------------------------------------------------------------------------------------#
# Knowledge Note
##########################################################################################################

"item_knowledgenote;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=6
}


##########################################################################################################
# item_leggingsiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Leggings
##########################################################################################################

"item_leggingsiron;0" {
    B:enabled=false
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_misc_ash;1
#--------------------------------------------------------------------------------------------------------#
# Pile of Ashes
##########################################################################################################

"item_misc_ash;1" {
    B:enabled=true
    I:max_spawn_count=8
    I:min_spawn_count=2
    I:spawn_weight=25
}


##########################################################################################################
# item_nukevirus;0
#--------------------------------------------------------------------------------------------------------#
# Nuke Virus
##########################################################################################################

"item_nukevirus;0" {
    B:enabled=true
    I:max_spawn_count=4
    I:min_spawn_count=1
    I:spawn_weight=10
}


##########################################################################################################
# item_pickaxeiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Pickaxe
##########################################################################################################

"item_pickaxeiron;0" {
    B:enabled=false
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_saddle;0
#--------------------------------------------------------------------------------------------------------#
# Saddle
##########################################################################################################

"item_saddle;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=3
}


##########################################################################################################
# item_spectreiron;4
#--------------------------------------------------------------------------------------------------------#
# Spectre Iron
##########################################################################################################

"item_spectreiron;4" {
    B:enabled=false
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=3
}


##########################################################################################################
# item_stopworm;0
#--------------------------------------------------------------------------------------------------------#
# STOP! -Worm
##########################################################################################################

"item_stopworm;0" {
    B:enabled=true
    I:max_spawn_count=4
    I:min_spawn_count=1
    I:spawn_weight=10
}


##########################################################################################################
# item_swordiron;0
#--------------------------------------------------------------------------------------------------------#
# Iron Sword
##########################################################################################################

"item_swordiron;0" {
    B:enabled=false
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_templecaller;0
#--------------------------------------------------------------------------------------------------------#
# Temple Caller
##########################################################################################################

"item_templecaller;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=0
    I:spawn_weight=1
}


##########################################################################################################
# item_wadingboots;0
#--------------------------------------------------------------------------------------------------------#
# Wading Boots
##########################################################################################################

"item_wadingboots;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# tile_obsidian;0
#--------------------------------------------------------------------------------------------------------#
# Obsidian
##########################################################################################################

"tile_obsidian;0" {
    B:enabled=false
    I:max_spawn_count=7
    I:min_spawn_count=3
    I:spawn_weight=5
}


##########################################################################################################
# tile_plants_thorn;5
#--------------------------------------------------------------------------------------------------------#
# Thorns
##########################################################################################################

"tile_plants_thorn;5" {
    B:enabled=true
    I:max_spawn_count=6
    I:min_spawn_count=2
    I:spawn_weight=25
}


##########################################################################################################
# tile_sapling_oak;0
#--------------------------------------------------------------------------------------------------------#
# Oak Sapling
##########################################################################################################

"tile_sapling_oak;0" {
    B:enabled=true
    I:max_spawn_count=7
    I:min_spawn_count=3
    I:spawn_weight=5
}


