# Configuration file

blocks {

    "CarpentersBlocks:blockCarpentersBlock" {
        S:01.Name=CarpentersBlocks:blockCarpentersBlock
        I:02.MetaID=-1
        S:03.DropName=0
        I:04.DropMetaID=-1
        I:05.DropNumber=0
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "CarpentersBlocks:blockCarpentersStairs" {
        S:01.Name=CarpentersBlocks:blockCarpentersStairs
        I:02.MetaID=-1
        S:03.DropName=0
        I:04.DropMetaID=-1
        I:05.DropNumber=0
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "CarpentersBlocks:blockCarpentersSlope" {
        S:01.Name=CarpentersBlocks:blockCarpentersSlope
        I:02.MetaID=-1
        S:03.DropName=0
        I:04.DropMetaID=-1
        I:05.DropNumber=0
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

}
