# Configuration file

armor {

    item_enviromine_camelpack {
        S:01.ID=enviromine:camelPack
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
        B:"10.Allow Camel Pack"=false
    }

    item_enviromine_gasmask {
        S:01.ID=enviromine:gasMask
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    item_enviromine_hardhat {
        S:01.ID=enviromine:hardHat
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

}


biomes {
}


blocks {
}


dimensions {

    caves {
        I:"01.Dimension ID"=-3
        B:"02.Allow Config Override"=false
        B:"03.Track Sanity"=true
        B:"04.Dark Affects Sanity"=true
        D:"05.Sanity Multiplier"=1.0
        B:"06.Track Air Quility"=true
        D:"07.Air Quility Multiplier"=1.0
        B:"08.Track Hydration"=true
        D:"09.Hydration Multiplier"=1.0
        B:"10.Track Temperature"=true
        D:"11.Temperature Multiplier"=1.0
        B:"12.Day/Night Affects Temp"=true
        B:"13.Weather Affects Temp"=true
        B:"14.Generate Mineshafts"=false
        I:"15.Where is Sea Level"=65
    }

}


entity {
}


items {
}


spoiling {
}


