# Configuration file

##########################################################################################################
# armor
#--------------------------------------------------------------------------------------------------------#
# Custom armor properties
##########################################################################################################

armor {

    helmetLeather {
        S:01.ID=minecraft:leather_helmet
        D:"02.Temp Add - Night"=1.0
        D:"03.Temp Add - Shade"=1.0
        D:"04.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    plateLeather {
        S:01.ID=minecraft:leather_chestplate
        D:"02.Temp Add - Night"=1.0
        D:"03.Temp Add - Shade"=1.0
        D:"04.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    legsLeather {
        S:01.ID=minecraft:leather_leggings
        D:"02.Temp Add - Night"=1.0
        D:"03.Temp Add - Shade"=1.0
        D:"04.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    bootsLeather {
        S:01.ID=minecraft:leather_boots
        D:"02.Temp Add - Night"=1.0
        D:"03.Temp Add - Shade"=1.0
        D:"04.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    helmetChain {
        S:01.ID=minecraft:chainmail_helmet
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=1.5
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    plateChain {
        S:01.ID=minecraft:chainmail_chestplate
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=1.5
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    legsChain {
        S:01.ID=minecraft:chainmail_leggings
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=1.5
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    bootsChain {
        S:01.ID=minecraft:chainmail_boots
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=1.5
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    helmetIron {
        S:01.ID=minecraft:iron_helmet
        D:"02.Temp Add - Night"=-0.5
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=2.5
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.1
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    plateIron {
        S:01.ID=minecraft:iron_chestplate
        D:"02.Temp Add - Night"=-0.5
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=2.5
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.1
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    legsIron {
        S:01.ID=minecraft:iron_leggings
        D:"02.Temp Add - Night"=-0.5
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=2.5
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.1
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    bootsIron {
        S:01.ID=minecraft:iron_boots
        D:"02.Temp Add - Night"=-0.5
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=2.5
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.1
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    helmetGold {
        S:01.ID=minecraft:golden_helmet
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.2
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    plateGold {
        S:01.ID=minecraft:golden_chestplate
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.2
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    legsGold {
        S:01.ID=minecraft:golden_leggings
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.2
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    bootsGold {
        S:01.ID=minecraft:golden_boots
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.2
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    helmetDiamond {
        S:01.ID=minecraft:diamond_helmet
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.1
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=0.9
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    plateDiamond {
        S:01.ID=minecraft:diamond_chestplate
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.1
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=0.9
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    legsDiamond {
        S:01.ID=minecraft:diamond_leggings
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.1
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=0.9
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    bootsDiamond {
        S:01.ID=minecraft:diamond_boots
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.1
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=0.9
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

}


##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Custom block properties
##########################################################################################################

blocks {
}


##########################################################################################################
# entity
#--------------------------------------------------------------------------------------------------------#
# Custom entity properties
##########################################################################################################

entity {
}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Custom item properties
##########################################################################################################

items {
}


