# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# ATTENTION: Editing this file manually is no longer necessary. 
# Type the command '/directionhud config' without the quotes in-game to modify these settings.
##########################################################################################################

general {
    # Enables or disables the compass HUD display. [default: true]
    B:enabled=true

    # Sets the position of the HUD on the screen. Valid alignment strings are topleft, topcenter, topright, middleleft, middlecenter, middleright, bottomleft, bottomcenter, bottomright [default: topcenter]
    S:alignMode=bottomcenter

    # Valid color values are 0-9, a-f (color values can be found here: http://www.minecraftwiki.net/wiki/File:Colors.png) [default: c]
    S:markerColor=c

    # Index of the selected compass in the compass image file starting at 0. Up to 10 compasses can fit in the image (10 would be index 9). Each compass is 24 pixels tall (two lines of height 12). [range: 0 ~ 9, default: 0]
    I:compassIndex=3

    # Set to true to show info when chat is open, false to disable info when chat is open [default: true]
    B:showInChat=true

    # Horizontal offset from the edge of the screen (when using right alignments the x offset is relative to the right edge of the screen) [range: -2147483648 ~ 2147483647, default: 2]
    I:xOffset=2

    # Set to true if you want the xOffset value to be applied when using a center alignment [default: false]
    B:applyXOffsetToCenter=false

    # Vertical offset from the edge of the screen (when using bottom alignments the y offset is relative to the bottom edge of the screen) [range: -2147483648 ~ 2147483647, default: 2]
    I:yOffset=2

    # Set to true if you want the yOffset value to be applied when using a middle alignment [default: false]
    B:applyYOffsetToMiddle=false

    # Vertical offset used only for the bottomcenter alignment to avoid the vanilla HUD [range: -2147483648 ~ 2147483647, default: 41]
    I:yOffsetBottomCenter=41
}


