# Configuration file

general {
    # Item and Armor IDs that shine light when found on any EntityLiving. Syntax: ItemID:LightValue, seperated by commas
    S:LightItems=torch:15,lit_pumpkin:12,glowstone_dust:10,lit_pumpkin:15,lava_bucket:15,redstone_torch:10,redstone:10,golden_helmet:14

    # Update Interval time for all EntityLiving in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


