# Configuration file

entitiesalwaysinfernal {
    B:EntityAbtu=false
    B:EntityAfrit=false
    B:EntityAlienCreeper=false
    B:EntityAnt=false
    B:EntityArix=false
    B:EntityArmorCreeper=false
    B:EntityBabyCaveSpider=false
    B:EntityBabySpider=false
    B:EntityBlaze=false
    B:EntityBlindingEnderman=false
    B:EntityBrutishSkeleton=false
    B:EntityBrutishZombie=false
    B:EntityCaveSpider=false
    B:EntityCinder=false
    B:EntityClassicEnderman=false
    B:EntityClink=false
    B:EntityConba=false
    B:EntityCreeper=false
    B:EntityCryptZombie=false
    B:EntityCursedEnderman=false
    B:EntityDarkCreeper=false
    B:EntityDeathCreeper=false
    B:EntityDesertSpider=false
    B:EntityDirtCreeper=false
    B:EntityDoomCreeper=false
    B:EntityDrowningCreeper=false
    B:EntityDweller=false
    B:EntityEnderCreeper=false
    B:EntityEnderGolem=false
    B:EntityEnderman=false
    B:EntityEnt=false
    B:EntityEttin=false
    B:EntityFanEnderman=false
    B:EntityFireCreeper=false
    B:EntityFireSkeleton=false
    B:EntityFireZombie=false
    B:EntityFishingZombie=false
    B:EntityFlyingSpider=false
    B:EntityFrostweaver=false
    B:EntityGatlingSkeleton=false
    B:EntityGeken=false
    B:EntityGhost=false
    B:EntityGhostSpider=false
    B:EntityGhoulZombie=false
    B:EntityGiantSkeleton=false
    B:EntityGiantSpider=false
    B:EntityGiantZombie=false
    B:EntityGorgomite=false
    B:EntityHungrySpider=false
    B:EntityHungryZombie=false
    B:EntityIcyEnderman=false
    B:EntityInfestedVillager=false
    B:EntityJabberwock=false
    B:EntityJengu=false
    B:EntityJumpingCreeper=false
    B:EntityJungleSpider=false
    B:EntityKobold=false
    B:EntityLacedon=false
    B:EntityLepus=false
    B:EntityLightningCreeper=false
    B:EntityLightningEnderman=false
    B:EntityLivingArmor=false
    B:EntityLobber=false
    B:EntityLooter=false
    B:EntityMagmaCube=false
    B:EntityMantekitty=false
    B:EntityManticore=false
    B:EntityMiniCreeper=false
    B:EntityMiniEnderman=false
    B:EntityMirageEnderman=false
    B:EntityMotherCaveSpider=false
    B:EntityMotherSpider=false
    B:EntityMummy=false
    B:EntityMystic=false
    B:EntityPaleSpider=false
    B:EntityPlagueZombie=false
    B:EntityPoisonSkeleton=false
    B:EntityPoisonSpider=false
    B:EntityRaiko=false
    B:EntityRebel=false
    B:EntityReiver=false
    B:EntityRemobra=false
    B:EntityRoc=false
    B:EntityShambler=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySmallSpider=false
    B:EntitySniperSkeleton=false
    B:EntitySpider=false
    B:EntitySpitfireSkeleton=false
    B:EntitySplittingCreeper=false
    B:EntitySpriggan=false
    B:EntityTFArmoredGiant=false
    B:EntityTFGiantMiner=false
    B:EntityTFGoblinKnightLower=false
    B:EntityTFGoblinKnightUpper=false
    B:EntityTFIceCrystal=false
    B:EntityTFIceExploder=false
    B:EntityTFIceShooter=false
    B:EntityTFKnightPhantom=false
    B:EntityTFMiniGhast=false
    B:EntityTFSnowGuardian=false
    B:EntityTFSnowQueen=false
    B:EntityTFTroll=false
    B:EntityTFYeti=false
    B:EntityTFYetiAlpha=false
    B:EntityThiefEnderman=false
    B:EntityThiefSkeleton=false
    B:EntityToughSpider=false
    B:EntityWebSpider=false
    B:EntityWendigo=false
    B:EntityWitch=false
    B:EntityWitchCaveSpider=false
    B:EntityWitchSpider=false
    B:EntityZombie=false
    B:Entity_SpecialCaveSpider=false
    B:Entity_SpecialCreeper=false
    B:Entity_SpecialEnderman=false
    B:Entity_SpecialSkeleton=false
    B:Entity_SpecialSpider=false
    B:Entity_SpecialZombie=false
}


entitybasehealth {
    D:EntityAbtu=7.0
    D:EntityAfrit=15.0
    D:EntityAnt=8.0
    D:EntityArix=15.0
    D:EntityArmorCreeper=90.0
    D:EntityBabySpider=4.0
    D:EntityBlaze=20.0
    D:EntityBlindingEnderman=40.0
    D:EntityBrutishSkeleton=40.0
    D:EntityBrutishZombie=40.0
    D:EntityClassicEnderman=40.0
    D:EntityCreeper=20.0
    D:EntityCursedEnderman=100.0
    D:EntityDarkCreeper=20.0
    D:EntityDeathCreeper=20.0
    D:EntityDesertSpider=20.0
    D:EntityDirtCreeper=20.0
    D:EntityDoomCreeper=20.0
    D:EntityDrowningCreeper=40.0
    D:EntityDweller=20.0
    D:EntityEnderCreeper=40.0
    D:EntityEnderman=40.0
    D:EntityEnt=15.0
    D:EntityEttin=240.0
    D:EntityFanEnderman=40.0
    D:EntityFireCreeper=21.0
    D:EntityFireSkeleton=20.0
    D:EntityFireZombie=20.0
    D:EntityFishingZombie=80.0
    D:EntityFrostweaver=15.0
    D:EntityGatlingSkeleton=40.0
    D:EntityGhost=20.0
    D:EntityGhoulZombie=15.0
    D:EntityGiantSkeleton=40.0
    D:EntityGiantSpider=32.0
    D:EntityGiantZombie=40.0
    D:EntityHungryZombie=30.0
    D:EntityIcyEnderman=40.0
    D:EntityInfestedVillager=4.0
    D:EntityJengu=15.0
    D:EntityJumpingCreeper=20.0
    D:EntityLacedon=20.0
    D:EntityLightningCreeper=20.0
    D:EntityLightningEnderman=40.0
    D:EntityLivingArmor=20.0
    D:EntityLobber=80.0
    D:EntityLooter=30.0
    D:EntityMagmaCube=1.0
    D:EntityMantekitty=20.0
    D:EntityMiniCreeper=20.0
    D:EntityMiniEnderman=40.0
    D:EntityMirageEnderman=60.0
    D:EntityMotherSpider=48.0
    D:EntityMystic=45.0
    D:EntityPaleSpider=17.0
    D:EntityPlagueZombie=20.0
    D:EntityPoisonSkeleton=140.0
    D:EntityPoisonSpider=16.0
    D:EntityRaiko=20.0
    D:EntityRebel=20.0
    D:EntityReiver=20.0
    D:EntityRemobra=10.0
    D:EntitySkeleton=20.0
    D:EntitySlime=1.0
    D:EntitySmallSpider=16.0
    D:EntitySniperSkeleton=20.0
    D:EntitySpider=16.0
    D:EntitySpitfireSkeleton=40.0
    D:EntitySplittingCreeper=80.0
    D:EntitySpriggan=20.0
    D:EntityTFIceCrystal=10.0
    D:EntityTFKnightPhantom=35.0
    D:EntityThiefEnderman=40.0
    D:EntityThiefSkeleton=20.0
    D:EntityToughSpider=32.0
    D:EntityWitch=26.0
    D:EntityZombie=20.0
    D:Entity_SpecialCaveSpider=12.0
    D:Entity_SpecialCreeper=20.0
    D:Entity_SpecialEnderman=40.0
    D:Entity_SpecialSkeleton=60.0
    D:Entity_SpecialSpider=80.0
    D:Entity_SpecialZombie=20.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true

    # Disables the ingame Health and Name overlay
    B:disableGUIoverlay=false

    # List of equally likely to drop Items for Elites, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6

    # List of equally likely to drop Items for Infernals, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book

    # List of equally likely to drop Items for Ultras, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book

    # One in THIS many Mobs will become atleast rare
    I:eliteRarity=15

    # One in THIS many already ultra Mobs will become infernal
    I:infernoRarity=7

    # highest amount of damage an Infernal Mob or reflecting Mod will do in a single strike
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0

    # Multiplier applied ontop of all of the modified Mobs health
    S:mobHealthFactor=1.0

    # One in THIS many already rare Mobs will become atleast ultra
    I:ultraRarity=7

    # Use Entity class names instead of ingame Entity names for the config
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:EntityAbtu=true
    B:EntityAfrit=true
    B:EntityAlienCreeper=true
    B:EntityAnt=true
    B:EntityArix=true
    B:EntityArmorCreeper=true
    B:EntityBabyCaveSpider=true
    B:EntityBabySpider=true
    B:EntityBlaze=true
    B:EntityBlindingEnderman=true
    B:EntityBrutishSkeleton=true
    B:EntityBrutishZombie=true
    B:EntityCaveSpider=true
    B:EntityCinder=true
    B:EntityClassicEnderman=true
    B:EntityClink=true
    B:EntityConba=true
    B:EntityCreeper=true
    B:EntityCryptZombie=true
    B:EntityCursedEnderman=true
    B:EntityDarkCreeper=true
    B:EntityDeathCreeper=true
    B:EntityDesertSpider=true
    B:EntityDirtCreeper=true
    B:EntityDoomCreeper=true
    B:EntityDrowningCreeper=true
    B:EntityDweller=true
    B:EntityEnderCreeper=true
    B:EntityEnderGolem=true
    B:EntityEnderman=true
    B:EntityEnt=true
    B:EntityEttin=true
    B:EntityFanEnderman=true
    B:EntityFireCreeper=true
    B:EntityFireSkeleton=true
    B:EntityFireZombie=true
    B:EntityFishingZombie=true
    B:EntityFlyingSpider=true
    B:EntityFrostweaver=true
    B:EntityGatlingSkeleton=true
    B:EntityGeken=true
    B:EntityGhost=true
    B:EntityGhostSpider=true
    B:EntityGhoulZombie=true
    B:EntityGiantSkeleton=true
    B:EntityGiantSpider=true
    B:EntityGiantZombie=true
    B:EntityGorgomite=true
    B:EntityHungrySpider=true
    B:EntityHungryZombie=true
    B:EntityIcyEnderman=true
    B:EntityInfestedVillager=true
    B:EntityJabberwock=true
    B:EntityJengu=true
    B:EntityJumpingCreeper=true
    B:EntityJungleSpider=true
    B:EntityKobold=true
    B:EntityLacedon=true
    B:EntityLepus=true
    B:EntityLightningCreeper=true
    B:EntityLightningEnderman=true
    B:EntityLivingArmor=true
    B:EntityLobber=true
    B:EntityLooter=true
    B:EntityMagmaCube=true
    B:EntityMantekitty=true
    B:EntityManticore=true
    B:EntityMiniCreeper=true
    B:EntityMiniEnderman=true
    B:EntityMirageEnderman=true
    B:EntityMotherCaveSpider=true
    B:EntityMotherSpider=true
    B:EntityMummy=true
    B:EntityMystic=true
    B:EntityPaleSpider=true
    B:EntityPlagueZombie=true
    B:EntityPoisonSkeleton=true
    B:EntityPoisonSpider=true
    B:EntityRaiko=true
    B:EntityRebel=true
    B:EntityReiver=true
    B:EntityRemobra=true
    B:EntityRoc=true
    B:EntityShambler=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySmallSpider=true
    B:EntitySniperSkeleton=true
    B:EntitySpider=true
    B:EntitySpitfireSkeleton=true
    B:EntitySplittingCreeper=true
    B:EntitySpriggan=true
    B:EntityTFArmoredGiant=true
    B:EntityTFGiantMiner=true
    B:EntityTFGoblinKnightLower=true
    B:EntityTFGoblinKnightUpper=true
    B:EntityTFIceCrystal=true
    B:EntityTFIceExploder=true
    B:EntityTFIceShooter=true
    B:EntityTFKnightPhantom=true
    B:EntityTFMiniGhast=true
    B:EntityTFSnowGuardian=true
    B:EntityTFSnowQueen=true
    B:EntityTFTroll=true
    B:EntityTFYeti=true
    B:EntityTFYetiAlpha=true
    B:EntityThiefEnderman=true
    B:EntityThiefSkeleton=true
    B:EntityToughSpider=true
    B:EntityWebSpider=true
    B:EntityWendigo=true
    B:EntityWitch=true
    B:EntityWitchCaveSpider=true
    B:EntityWitchSpider=true
    B:EntityZombie=true
    B:Entity_SpecialCaveSpider=true
    B:Entity_SpecialCreeper=true
    B:Entity_SpecialEnderman=true
    B:Entity_SpecialSkeleton=true
    B:Entity_SpecialSpider=true
    B:Entity_SpecialZombie=true
}


