# Configuration file

"event durations" {
    I:bamstorm=6000
    I:boulderdash=6000
    I:cinderfall=6000
    I:hellsfury=6000
    I:marchofthegorgomites=6000
    I:poopparty=6000
    I:rootriot=6000
    I:seastorm=6000
    I:shadowgames=6000
    I:subzero=6000
    I:tsunami=6000
    I:windstorm=6000
    I:wingedvenom=6000
}


"event forced spawning" {
    B:bamstorm=true
    B:boulderdash=true
    B:cinderfall=true
    B:hellsfury=true
    B:marchofthegorgomites=true
    B:poopparty=false
    B:rootriot=true
    B:seastorm=true
    B:shadowgames=true
    B:subzero=true
    B:tsunami=true
    B:windstorm=true
    B:wingedvenom=true
}


##########################################################################################################
# events enabled
#--------------------------------------------------------------------------------------------------------#
# Here each event can be turned on or off (true or false).
##########################################################################################################

"events enabled" {
    B:bamstorm=true
    B:boulderdash=true
    B:cinderfall=true
    B:hellsfury=true
    B:marchofthegorgomites=true
    B:poopparty=false
    B:rootriot=true
    B:seastorm=true
    B:shadowgames=true
    B:subzero=true
    B:tsunami=true
    B:windstorm=true
    B:wingedvenom=true
}


global {
    # Sets the base range in blocks from each player/area that event mobs will spawn.
    I:"Base Spawn Range"=32

    # Sets the base interval in ticks (20 ticks = 1 second) between each mob spawn, this is multiplied by 1.5 on easy and 0.5 on hard.
    I:"Base Spawn Rate"=200

    # Maximum time in ticks until a random event can occur. 20 Ticks = 1 Second.
    I:"Max Ticks Until Event"=144000

    # Minimum time in ticks until a random event can occur. 20 Ticks = 1 Second.
    I:"Min Ticks Until Event"=72000

    # If false, all mob events will be completely disabled.
    B:"Mob Events Enabled"=true
}


