# Configuration file

Config {
    # Will attempt to find and generate blank configs for any custom armors loaded before EnviroMine.
    B:"Generate Armor Configs"=true
    B:"Generate Defaults"=true
}


"GUI Settings" {
    # Disable this if you experience a 'blackout' with low status values
    B:"Do Screen Tinting"=true

    # WARNING: This option will hide the ambient air temperature! It will also override icons and text to true.
    B:"Minimalistic Bars"=false

    # Change position of Enviro Bars. Options: Bottom_Left, Bottom_Right, Bottom_Center_Left, Bottom_Center_Right, Top_Left, Top_Right, Top_Center, Middle_Left, Middle_Right, Custom_#,# (Custom_X(0-100),Y(0-100))
    S:"Position Air Quality Bar"=Bottom_Right
    S:"Position Heat Bar"=Bottom_Left
    S:"Position Sanity Bar"=Bottom_Right
    S:"Position Thirst Bar"=Bottom_Left

    # Show Hide Gui Text Display and Icons
    B:"Show Gui Debugging Info"=false
    B:"Show Gui Icons"=true
    B:"Show Gui Status Text"=true

    # Show/Hide Particales
    B:"Show Insanity Particles"=true
    B:"Show Sweat Particales"=true

    # Will display either Farenhit or Celcius on GUI
    B:"Use Farenheit instead of Celsius"=false
}


Physics {
    # How long until individual chunk's physics starts after loading (DO NOT SET TOO LOW)
    I:"Chunk Physics Delay"=500

    # This will change maximum number of blocks that can be updated with physics at a time. - 1 = Unlimited
    I:"Consecutive Physics Update Cap"=128
    S:"Default Stability Type (BlockIDs > 175)"=loose

    # Setting Large Ice Cracking to true can cause Massive Lag
    B:"Large Ice Cracking"=false

    # The number of ticks between physics update passes (must be 5 or more)
    I:"Physics Interval"=5

    # 0 = No action, 1 = Limit to < 1024 per 8x8 block area, 2 = Delete excessive entities & Dump physics (EMERGENCY ONLY)
    I:"Physics entity fail safe level"=1
    B:"Stone Cracks Before Falling"=true

    # How long after world start until the physics system kicks in (DO NOT SET TOO LOW)
    I:"World Start Delay"=1000
}


Potions {
    I:Dehydration=30
    I:Frostbite=29
    I:"Heat Stroke"=28
    I:Hypothermia=27
    I:Insanity=33
}


"Speed Multipliers" {
    D:AirQuality=1.0
    D:BodyTemp=1.0
    D:Hydration=1.0
    D:Sanity=1.0
}


"World Generation" {
    # Generates mineshafts in villages
    B:"Enable Village MineShafts"=true
}


general {
    # True/False to turn Enviromine Trackers for Sanity, Air Quality, Hydration, and Body Temperature.
    B:"Allow Air Quality"=true
    B:"Allow Body Temperature"=true
    B:"Allow Hydration"=true
    B:"Allow Sanity"=true
    B:"Check For Updates"=true

    # Turn physics On/Off
    B:"Enable Physics"=true
    B:"Enable Physics Landslide"=true
    B:"Enable villager assistance"=true
    I:"Enviro Physics Entity ID"=3
    B:"Limit Cauldron Drinking"=true

    # Track enviromine properties on Non-player entites(mobs & animals)
    B:"Track NonPlayer entities"=false
}


