# Configuration file

##########################################################################################################
# admin
#--------------------------------------------------------------------------------------------------------#
# Special tools for server admins.
##########################################################################################################

admin {
    # Here you can add a list of entity IDs for entity that you want to be forcefully removed.
    S:"Force Remove Entity Names" <
     >

    # How many ticks it takes for an entity to be forcefully removed (1 second = 20 ticks). This only applies to EntityLiving, other entities are instantly removed.
    I:"Force Remove Entity Ticks"=40
}


altars {
    B:"Altars Enabled"=true
    B:"Check Dimension"=false
    D:"Damage Altar Stat Multiplier"=10.0
    D:"Defense Altar Stat Multiplier"=10.0
    D:"Effect Altar Stat Multiplier"=10.0
    D:"Haste Altar Stat Multiplier"=10.0
    D:"Health Altar Stat Multiplier"=10.0
    D:"Pierce Altar Stat Multiplier"=10.0
    D:"Speed Altar Stat Multiplier"=1.5
}


##########################################################################################################
# debug
#--------------------------------------------------------------------------------------------------------#
# Set debug options to true to show extra debugging information in the console.
##########################################################################################################

debug {
    B:CustomSpawner=false
    B:CustomSpawnerBlockBreak=false
    B:EffectsSetup=false
    B:ItemSetup=false
    B:MobSetup=false
    B:MobSpawns=false
    B:Subspecies=false
}


"difficulty multipliers" {
    D:"Easy Damage"=0.5
    D:"Easy Defense"=0.5
    D:"Easy Effect"=0.5
    D:"Easy Haste"=0.5
    D:"Easy Health"=1.0
    D:"Easy Pierce"=0.5
    D:"Easy Speed"=1.0
    D:"Hard Damage"=1.1
    D:"Hard Defense"=1.1
    D:"Hard Effect"=1.1
    D:"Hard Haste"=1.1
    D:"Hard Health"=1.1
    D:"Hard Pierce"=1.1
    D:"Hard Speed"=1.1
    D:"Normal Damage"=1.0
    D:"Normal Defense"=1.0
    D:"Normal Effect"=1.0
    D:"Normal Haste"=1.0
    D:"Normal Health"=1.0
    D:"Normal Pierce"=1.0
    D:"Normal Speed"=1.0
}


"dungeon loot enabled" {
    B:Blacksmiths=true
    B:Dungeons=true
    B:Strongholds=true
}


##########################################################################################################
# extras
#--------------------------------------------------------------------------------------------------------#
# Other extra config settings, some of the aren't necessarily specific to Lycanites Mobs.
##########################################################################################################

extras {
    # Set to true to disable the nausea debuff on players.
    B:"Disable Nausea Debuff"=false
}


fire {
    B:"Remove On No Fire Tick"=true
}


"food effect durations" {
    I:"Cooked Buffs"=10
    I:"Feast Buffs"=600
    I:"Meal Buffs"=60
    I:"Raw Debuffs"=10
}


##########################################################################################################
# gui
#--------------------------------------------------------------------------------------------------------#
# Mostly client side settings that affect visuals such as mob names or inventory tabs, etc.
##########################################################################################################

gui {
    B:"Show Inventory Tabs"=false

    # If true, all mobs that are a subspecies will always show their nametag.
    B:"Subspecies Tags"=true
}


"items enabled" {
    B:"Weapon Recipes Enabled"=true
}


##########################################################################################################
# mob interaction
#--------------------------------------------------------------------------------------------------------#
# Here you can control how mobs interact with other mobs.
##########################################################################################################

"mob interaction" {
    # Set to false to prevent mobs that attack players from also attacking villagers.
    B:"Mobs Attack Villagers"=true

    # Set to false to prevent predator mobs from attacking animals/farmable mobs.
    B:"Predators Attack Animals"=true
}


##########################################################################################################
# mob variations
#--------------------------------------------------------------------------------------------------------#
# Settings for how mobs randomly vary such as subspecies. Subspecies are uncommon and rare variants of regular mobs, uncommon subspecies tend to be a bit tougher and rare subspecies are quite powerful and can be considered as mini bosses..
##########################################################################################################

"mob variations" {
    # Set to false to prevent mobs from having a random size variation when spawning, this will not affect mobs that have already spawned.
    B:"Random Sizes"=true

    # The weight of common subspecies (regular mobs).
    I:"Subspecies Base Weight"=400

    # Set to false to prevent subspecies from spawning, this will not affect mobs that have already spawned as subspecies.
    B:"Subspecies Can Spawn"=true
    B:"Subspecies Rare Health Bars"=false

    # The weight of rare subspecies (such as Lunar or Celestial).
    I:"Subspecies Rare Weight"=5

    # When a creature with the uncommon subspecies (Azure, Verdant, etc) dies, its experience amount is multiplied by this value.
    D:"Subspecies Uncommon Experience Scale"=2.0

    # When a creature is set to the rare subspecies (Celestial, Lunar, etc) its health is multiplied by this value.
    D:"Subspecies Uncommon Health Scale"=4.0

    # When a creature with the rare subspecies (Celestial, Lunar, etc) dies, its item drops amount is multiplied by this value.
    I:"Subspecies Uncommon Item Drops Scale"=4

    # The weight of uncommon subspecies (such as Azure, Verdant, Scarlet, etc).
    I:"Subspecies Uncommon Weight"=20
}


##########################################################################################################
# pets
#--------------------------------------------------------------------------------------------------------#
# Here you can control all settings related to taming and mounting.
##########################################################################################################

pets {
    # If true, pets, minions, etc can't harm their owners (with ranged attacks, etc).
    B:"Friendly Fire"=true

    # Set to false to disable mounts.
    B:Mounting=true

    # If true, tamed mobs will display their owner's name in their name tag.
    B:"Owner Tags"=true

    # Set to false to disable pet/mount taming.
    B:Taming=true
}


##########################################################################################################
# potion effects
#--------------------------------------------------------------------------------------------------------#
# Here you can override each potion effect ID from the automatic ID, use 0 if you want it to stay automatic. Overrides should only be needed if you are running a lot of mods that add custom effects.
##########################################################################################################

"potion effects" {
    # Set to false to disable the custom potion effects.
    B:"Enable Custom Effects"=true
    I:"fallresist Effect Override ID"=0
    I:"fear Effect Override ID"=0
    I:"leech Effect Override ID"=0
    I:"paralysis Effect Override ID"=0
    I:"penetration Effect Override ID"=0
    I:"rage Effect Override ID"=0
    I:"recklessness Effect Override ID"=0
    I:"swiftswimming Effect Override ID"=0
    I:"weight Effect Override ID"=0
}


"seasonal item drop chance" {
    D:Seasonal=0.10000000149011612
}


