# Configuration file

biomesoplenty {

    ocean {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    plains {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    desert {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "extreme hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    forest {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    taiga {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    swampland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    river {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    hell {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "ice plains" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    mushroomisland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    mushroomislandshore {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    deserthills {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    foresthills {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    taigahills {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "extreme hills edge" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    jungle {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    junglehills {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    jungleedge {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "birch forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "birch forest hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "roofed forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cold taiga" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cold taiga hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    savanna {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "savanna plateau" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    mesa {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mesa plateau f" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mesa plateau" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    alps {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    arctic {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "bamboo forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    bayou {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    bog {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "boreal forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    brushland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    canyon {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    chaparral {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cherry blossom grove" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "coniferous forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "snowy coniferous forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    crag {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "dead forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "dead swamp" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "deciduous forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    fen {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "flower field" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "frost forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "fungi forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    garden {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    grassland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    grove {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    heathland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    highland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "jade cliffs" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "lavender fields" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "lush desert" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "lush swamp" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "maple woods" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    marsh {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    meadow {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    moor {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    mountain {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mystic grove" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "ominous woods" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "origin valley" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    outback {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    prairie {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    rainforest {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "redwood forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "sacred springs" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "seasonal forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    shield {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    shrubland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    sludgepit {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    steppe {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "temperate rainforest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    thicket {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "tropical rainforest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    tundra {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    wasteland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    wetland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    woodland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "coral reef" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "kelp forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    tropics {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    volcano {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    mangrove {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "alps forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "canyon ravine" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    glacier {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "meadow forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    oasis {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    orchard {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    quagmire {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    scrubland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    silkglades {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "spruce woods" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "corrupted sands" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "phantasmagoric inferno" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    boneyard {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "visceral heap" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    undergarden {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "polar chasm" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "spectral garden" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "lush river" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "dry river" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


chylex {

    sky {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


minecraft {

    frozenocean {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    frozenriver {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "ice mountains" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    beach {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "deep ocean" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "stone beach" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cold beach" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mega taiga" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mega taiga hills" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "extreme hills+" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "sunflower plains" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "desert m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "extreme hills m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "flower forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "taiga m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "swampland m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "ice plains spikes" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "jungle m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "jungleedge m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "birch forest m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "birch forest hills m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "roofed forest m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "cold taiga m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mega spruce taiga" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "extreme hills+ m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "savanna m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "savanna plateau m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mesa (bryce)" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mesa plateau f m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mesa plateau m" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


ttftcuts {

    "rocky steppe" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "tropical shrubland" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    tundra {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    volcano {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    woodland {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


twilightforest {

    "twilight lake" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "twilight forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "dense twilight forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    highlands {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "mushroom forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "twilight swamp" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "twilight stream" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "snowy forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "twilight glacier" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "twilight clearing" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "oak savanna" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "lighted forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "deep mushroom forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "dark forest center" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "highlands center" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "dark forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "enchanted forest" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    "fire swamp" {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

    thornlands {
        B:Enable=true
        D:OccuranceMultiplier=1.0
    }

}


