# Configuration file

##########################################################################################################
# item_apple;0
#--------------------------------------------------------------------------------------------------------#
# Apple
##########################################################################################################

"item_apple;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=2
    I:spawn_weight=5
}


##########################################################################################################
# item_bread;0
#--------------------------------------------------------------------------------------------------------#
# Bread
##########################################################################################################

"item_bread;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_flippers;0
#--------------------------------------------------------------------------------------------------------#
# Flippers
##########################################################################################################

"item_flippers;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_infitool_axe;0
#--------------------------------------------------------------------------------------------------------#
# §fStarter Hatchet
##########################################################################################################

"item_infitool_axe;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_infitool_broadsword;0
#--------------------------------------------------------------------------------------------------------#
# Broadsword
##########################################################################################################

"item_infitool_broadsword;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=0
    I:spawn_weight=10
}


##########################################################################################################
# item_infitool_pickaxe;0
#--------------------------------------------------------------------------------------------------------#
# §fStarter Pickaxe
##########################################################################################################

"item_infitool_pickaxe;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_stick;0
#--------------------------------------------------------------------------------------------------------#
# Stick
##########################################################################################################

"item_stick;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=10
}


##########################################################################################################
# item_wadingboots;0
#--------------------------------------------------------------------------------------------------------#
# Wading Boots
##########################################################################################################

"item_wadingboots;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# tile_log_acacia;0
#--------------------------------------------------------------------------------------------------------#
# Acacia Wood
##########################################################################################################

"tile_log_acacia;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=10
}


##########################################################################################################
# tile_log_oak;0
#--------------------------------------------------------------------------------------------------------#
# Oak Wood
##########################################################################################################

"tile_log_oak;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=10
}


##########################################################################################################
# tile_wood_oak;0
#--------------------------------------------------------------------------------------------------------#
# Oak Wood Planks
##########################################################################################################

"tile_wood_oak;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=10
}


