# Configuration file

##########################################################################################################
#  info
#--------------------------------------------------------------------------------------------------------#
# Copy the desired tools you want to change from the defaults file into this file and adapt the stats.
# 
# Mining Levels:
# 	0 - §7Stone
# 	1 - §6Copper
# 	2 - §8Iron
# 	3 - §fTin
# 	4 - §cRedstone
# 	5 - §dObsidian
# 	6 - §4Ardite
# 	7 - §3Cobalt
# 	8 - §5Manyullyn
# 	9 - §5Manyullyn§d+
# 
##########################################################################################################

" info" {
    # Fills this file with the default values, not altering changed values.
    B:fillWithDefault=false

    # Removes all entries that correspond to the default values.
    B:removeDefaultValues=false
}


betterstorage {

    cardboardpickaxe {
        I:pickaxe=0
    }

    cardboardaxe {
        I:axe=0
    }

    cardboardshovel {
        I:shovel=0
    }

}


biomesoplenty {

    axemud {
        I:axe=0
    }

    shovelmud {
        I:shovel=0
    }

    pickaxeamethyst {
        I:pickaxe=9
    }

    shovelamethyst {
        I:shovel=9
    }

    pickaxemud {
        I:pickaxe=0
    }

    axeamethyst {
        I:axe=9
    }

}


hardcoreenderexpansion {

    schorching_pickaxe {
        I:pickaxe=10
    }

}


meteors {

    frezspade {
        I:shovel=4
    }

    frezpick {
        I:pickaxe=4
    }

    metaxe {
        I:axe=5
    }

    frezaxe {
        I:axe=4
    }

    metpick {
        I:pickaxe=5
    }

    metspade {
        I:shovel=5
    }

}


minecraft {

    golden_pickaxe {
        I:pickaxe=1
    }

    golden_axe {
        I:axe=1
    }

    iron_pickaxe {
        I:pickaxe=4
    }

    stone_shovel {
        I:shovel=0
    }

    wooden_pickaxe {
        I:pickaxe=0
    }

    wooden_shovel {
        I:shovel=0
    }

    iron_axe {
        I:axe=4
    }

    diamond_shovel {
        I:shovel=5
    }

    golden_shovel {
        I:shovel=1
    }

    stone_pickaxe {
        I:pickaxe=0
    }

    diamond_pickaxe {
        I:pickaxe=5
    }

    diamond_axe {
        I:axe=5
    }

    iron_shovel {
        I:shovel=4
    }

    stone_axe {
        I:axe=0
    }

    wooden_axe {
        I:axe=0
    }

}


twilightforest {

    item_ironwoodpick {
        I:pickaxe=4
    }

    item_fierypick {
        I:pickaxe=5
    }

    item_ironwoodaxe {
        I:axe=4
    }

    item_ironwoodshovel {
        I:shovel=4
    }

    item_steeleafshovel {
        I:shovel=5
    }

    item_minotauraxe {
        I:axe=6
    }

    item_steeleafaxe {
        I:axe=5
    }

    item_mazebreakerpick {
        I:pickaxe=6
    }

    item_giantpick {
        I:pickaxe=0
    }

    item_knightlypick {
        I:pickaxe=5
    }

    item_steeleafpick {
        I:pickaxe=5
    }

    item_knightlyaxe {
        I:axe=5
    }

}

